<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/greycliff.css">
    <link rel="stylesheet" href="../stylesheets/admin.css">
</head>
<body>
    <div class="main-container">
        <div class="secondary-container" id="messages-container">
            <h1 class="title">Messages</h1>
            <div class="content"></div>
        </div>
        <div class="secondary-container" id="bookings-container">
            <h1 class="title">Bookings</h1>
            <div class="content"></div>
        </div>
        <div class="secondary-container" id="places-container">
            <h1 class="title">Places</h1>
            <div class="content"></div>
        </div>
        <div class="end">
            <a id="new-place-link" href="new-place" style="display: block;"><button id="new-place">Insert place</button></a>
            <button id="log-out">Log out</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascripts/admin.js"></script>
</body>