<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="icon" href="../images/favicon.ico" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" type="text/css" href="../stylesheets/greycliff.css">
    <!--<link rel="stylesheet" href="../style/index_style.css">-->
    <link rel="stylesheet" href="../stylesheets/user_style.css">
</head>
<body>
    <div class="header">
        <span class="home">
            <span class="logo">
                <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <rect rx="2px" width="13" height="13" style="fill:#000000"/>
                        <rect rx="2px" y=17 width="13" height="13" style="fill:#000000"/>
                        <rect rx="2px" x=17 y=17 width="13" height="13" style="fill:#000000"/>
                    </g>
                </svg>
            </span>
            <span class="name-container"><a href="../index" class="name">Cozy</a></span>
        </span>
        <ul class="navbar-list">
            <li id="messages-item"><a style="cursor: pointer;" href="messages.html" title="User messages">Messages</a></li>
            <li class="selected" id="bookings-item"><a style="cursor: default;" onclick="">Bookings</a></li>
            <li id="user-item"><a style="cursor: pointer;" href="profile.html" title="User profile">User</a></li>
            <li id="user-icon" title="User profile">
                <img width="29px" height="29px" style="object-fit: cover; border-radius: 30px;"></img>
                <div class="notification-icon"></div>
            </li>
        </ul>
    </div>
    <div class="main-container">
        <div class="menu-container">
            <div class="user-info">
                <span class="user-info-image">
                    <img src="../images/userIcon.svg" width="30px" height="30px" style="object-fit: cover; border-radius: 300px;"></img>
                </span>
                <span class="user-info-text">
                    <div class="user-name">Name Surname</div>
                    <div class="user-account">User account</div>
                </span>
            </div>
            <ul class="menu-list">
                <li class="menu-item" id="messages"><a href="messages.html">Messages</a></li>
                <li class="menu-item selected" id="bookings"><a href="#">Bookings</a></li>
                <li class="menu-item" id="profile"><a href="profile.html">Profile</a></li>
            </ul>
        </div>
        <div class="content-container">
            <h1 class="page-title">Bookings</h1>
            <div class="main-bookings-container">
            </div>
        </div>
    </div>
    <div class="footer">
        <ul class="footer-list">
            <li><a href="../index">Discover</a></li>
            <li id="login-footer">Log In</li>
            <li id="homepage"><img src="../images/logoIcon.png" alt=""><a href="../index">Cozy</a></li>
            <li id="share">Share</li>
            <li id="contact">Contact</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascripts/user/user.js"></script>
    <script src="../javascripts/user/bookings.js"></script>
</body>