<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/greycliff.css">
</head>
<body style="margin: 0;">
    <div class="main-container" style="width: 100%; height: 100vh; display: grid; grid-template-columns: 100%; grid-template-rows: 100%; margin: 0;">
        <div style="font-family: greycliff; font-size: min(18vw, 80px); font-weight: 600; text-align: center; color: #cccccc; margin: auto;">404<br>Not found</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>