<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | Sign up</title>
    <!--<link rel="icon" href="../../images/favicon.ico" sizes="16x16 32x32" type="image/png">-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/greycliff.css">
    <!--<link rel="stylesheet" href="../style/index_style.css">-->
    <link rel="stylesheet" href="../stylesheets/user_style.css">
</head>
<body>
    <div class="header">
        <span class="home">
            <span class="logo">
                <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <rect rx="2px" width="13" height="13" style="fill:#000000"/>
                        <rect rx="2px" y=17 width="13" height="13" style="fill:#000000"/>
                        <rect rx="2px" x=17 y=17 width="13" height="13" style="fill:#000000"/>
                    </g>
                </svg>
            </span>
            <span class="name-container"><a href="../index" class="name">Cozy</a></span>
        </span>
        <ul class="navbar-list">
            <li id="messages-item"><a style="cursor: pointer;" href="messages.html" title="User messages">Messages</a></li>
            <li id="bookings-item"><a style="cursor: pointer;" href="bookings.html" title="User bookings">Bookings</a></li>
            <li id="user-item"><a style="cursor: pointer;" href="profile.html" title="User profile">User</a></li>
            <li id="user-icon" title="User profile">
                <img src="../images/userIcon.svg" width="29px" height="29px" style="object-fit: cover; border-radius: 30px;"></img>
                <div class="notification-icon"></div>
            </li>
        </ul>
    </div>
    <div class="main-container" id="log-main-container">
        <div class="small-container" id="login">
            <h1>Log in</h1>
            <form id="login-form">
                <label for="login-username">Username</label><br>
                <input type="text" id="login-username" name="login-username" minlength="3" required><br><br>
                <label for="login-password">Password</label><br>
                <input type="password" id="login-password" name="login-password" minlength="8" required><br><br>
                <p class="login-wrong">Wrong credentials</p>
                <input class="big-button" id="login-button" type="submit" value="Log in">
            </form>
            <button class="log-switch" id="signup-switch">Sign up ➜</button>
        </div>
        <div class="small-container" id="signup">
            <h1>Sign up</h1>
            <form id="signup-form">
                <label for="signup-username">Username</label><br>
                <input type="text" id="signup-username" name="signup-username" minlength="3" required><br><br>
                <label for="signup-password">Password</label><br>
                <input type="password" id="signup-password1" name="signup-password1" minlength="8" required><br><br>
                <label for="signup-password">Password again</label><br>
                <input type="password" id="signup-password2" name="signup-password2" minlength="8" required><br><br>
                <input class="big-button unavailable" id="signup-button" type="submit" value="Sign up">
            </form>
            <button class="log-switch" id="login-switch"><p style="transform: rotateY(180deg); display: inline-block;">➜</p> Log in</button>
        </div>
        
    </div>
    <div class="footer">
        <ul class="footer-list">
            <li><a href="../index">Discover</a></li>
            <li id="login-footer">Log In</li>
            <li id="homepage"><img src="../images/logoIcon.png" alt=""><a href="../index">Cozy</a></li>
            <li id="share">Share</li>
            <li id="contact">Contact</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascripts/user/user.js"></script>
</body>