<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | Sign up</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/greycliff.css">
    <link rel="stylesheet" href="../stylesheets/user/user.css">
    <link rel="stylesheet" href="../stylesheets/log.css">
</head>
<body>
    <div class="main-container" id="log-main-container">
        <div class="small-container" id="login">
            <h1>Log in</h1>
            <form id="login-form">
                <label for="login-username">Username</label><br>
                <input type="text" id="login-username" name="login-username" minlength="3" required><br><br>
                <label for="login-password">Password</label><br>
                <input type="password" id="login-password" name="login-password" minlength="8" required><br><br>
                <p id="login-wrong">Wrong credentials</p>
                <input class="big-button" id="login-button" type="submit" value="Log in">
            </form>
            <button class="log-switch" id="signup-switch">Sign up ➜</button>
        </div>
        <div class="small-container" id="signup">
            <h1>Sign up</h1>
            <form id="signup-form">
                <label for="signup-username">Username</label><br>
                <input type="text" id="signup-username" name="signup-username" minlength="3" required><br><br>
                <label for="signup-password">Password</label><br>
                <input type="password" id="signup-password1" name="signup-password1" minlength="8" required><br><br>
                <label for="signup-password">Confirm password</label><br>
                <input type="password" id="signup-password2" name="signup-password2" minlength="8" required><br><br>
                <p id="signup-wrong">Username not available</p><br>
                <label class="switch">Admin<input type="checkbox"><span class="slider round"></span></label><br>
                <input class="big-button unavailable" id="signup-button" type="submit" value="Sign up">
            </form>
            <button class="log-switch" id="login-switch"><p style="transform: rotateY(180deg); display: inline-block;">➜</p> Log in</button>
        </div>
        
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascripts/user/user.js"></script>
    <script src="../javascripts/log.js"></script>
</body>