#log-main-container {
    padding: 0;
}

.main-container {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.small-container {
    display: inline-block;
    border-radius: 9px;
    width: 33%;
    height: max-content;
    min-width: 300px;
    padding: 20px 50px;
    margin: auto;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.17);
    transition: none;
}

.small-container h1 {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 300;
}

.small-container input {
    margin-top: 7px;
    padding: 4px 8px;
    width: 100%;
    height: 40px;
    background-color: rgba(204, 204, 204, 0.1);
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #707070;
    font-size: 16px;
}

label {
    font-size: 16px;
}

#signup {
    display: none;
}

#login > h1, #signup > h1 {
    font-weight: 200;
}

#admin-code {
    display: none;
}



/* The switch - the box around the slider */
.switch {
    display: flex;
    justify-content: space-between;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}
  
  /* The slider */
.slider {
    display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 23px;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    /*position: relative;*/
    padding: 2px;
}
  
.slider:before {
    display: inline-block;
    content: "";
    height: 19px;
    width: 19px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
  
input:checked + .slider {
    background-color: #ef4923;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 11px;
}
  
.slider.round:before {
    border-radius: 50%;
}


#login-wrong, #signup-wrong, #wrong-old-pass {
    color: #ef4923;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-align: right;
    opacity: 0;
}

#login-button, #signup-button {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border: none;
    color: #fff;
    background-color: #ef4923;
    transition: background-color 0.2s, color 0.2s, border 0.05s;
}

#signup-button.unavailable {
    background-color: #cccccc;
    color: #fff;
    cursor: not-allowed;
}

#login-button:hover, #signup-button:hover {
    box-shadow: none;
}

.log-switch {
    border: none;
    font-size: 13px;
    font-weight: 300;
    float: right;
    background-color: #ffffff;
    color: #707070;
    padding-right: 2px;
    margin: 30px 0 20px 0;
    /*text-decoration: underline;*/
    letter-spacing: 0.5px;
}

#login-switch {
    float: left;
}

@media only screen and (max-width: 425px) {
    .small-container {
        padding: min(20px, 3.5rem) min(50px, 8.7rem);
        min-width: initial;
        width: auto;
    }

    .small-container h1 {
        font-size: min(32px, 5.6rem);
    }

    label {
        font-size: min(16px, 4rem);
    }

    .small-container input {
        height: min(40px, 9rem);
        font-size: min(16px, 4rem);
    }
    
}
