* {
    box-sizing: border-box;
    font-family: greycliff !important;
    font-weight: 400;
    outline: 0;
    cursor: default;
}

html {
    font-size: 100%;
    /*-webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;*/
    scroll-behavior: smooth;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    margin: 0;
    padding: 0px;
}

button {
    cursor: pointer;
}

input {
    cursor: text;
}

svg {
    overflow: visible;
}

img { 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.big-button {
    width: 279px;
    height: 82px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.14px;
    border: none;
    border-radius: 17px;
    color: #ffffff;
    background-color: #ef4923;
    transition: box-shadow 0.1s;
}

.big-button:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.big-button:active {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}


.header {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

.logo, .logo * {
    cursor: pointer;
}

.logo > a > img {
    width: min(30px, 5.127rem);
    height: min(30px, 5.127rem);
}

.name-container {
    /*display: inline-block;*/
    padding-left: 20px;
}

.name {
    font: normal normal bold 40px greycliff;
    color: #000000;
    cursor: pointer;
}

.navbar-list {
    flex-basis: 28%;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-list > li {
    /*flex-basis: 25%;*/
    font: normal normal 500 23px greycliff;
    color: #000000;
}

#user-icon {
    z-index: -1;
    width: 29px;
    height: 29px;
    border-radius: 30px;
    overflow: hidden;
}

#user-icon > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.notification-icon {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ef4923;
    position: relative;
    top: -34px;
    left: 21px;
    display: none;
}

.navbar-list > li > a::after {
    display: block;
    position: relative;
    content: "";
    background-color: #000000;
    width: 0px;
    height: 2px;
    bottom: -3px;
    left: 100%;
    transition: all 0.2s ease-out;
}

.navbar-list > li > a:hover::after { 
    width: 100%;
    left: 0%;
}

.navbar-list > .selected > a::after {
    display: block;
    position: relative;
    content: "";
    background-color: #000000;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0%;
}

.main-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    width: max(53.54vw, 785px);
    max-width: 1028px;
    min-height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: 22.1% 0.9% 75%;
    grid-template-rows: 100%;
    align-items: flex-start;
}

.menu-container {
    border-radius: 9px;
    border: 1px solid #cccccc;
}

.user-info {
    padding: 8px 16px;
}

.user-info-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-info-text {
    display: inline-block;
}

.user-name {
    font-weight: 600;
}

.user-account {
    color: #cccccc;
    font-weight: 200;
    font-size: 13px;
}

.menu-list {
    overflow: hidden;
}

.menu-item {
    border-top: 1px solid #cccccc;
    padding: 8px 16px;
    font-weight: 400;
}

.menu-item a {
    display: inline-block;
    margin: 0;
    width: max-content;
    cursor: pointer;
}

.menu-item.selected a {
    cursor: default;
}

.menu-item.selected a::before {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 3px;
    border-radius: 3px;
    content: " ";
    white-space: pre;
    background-color: #ef4923;
    top: 9px;
    left: -7px;
    z-index: -1;
    
    animation-name: increase;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes increase {
    0% {
        width: 0;
    }
    100% {
        width: 8px;
    }
}

.content-container {
    grid-column: 3 / 4;
    /*min-height: calc(100vh - 214px);*/
}

.page-title {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
}

.main-messages-container, .main-bookings-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-container {
    margin-top: 13px;
    height: 80px;
    flex-basis: 49%;
    border-radius: 9px;
    border: 1px solid #cccccc;
    padding: 6px;
    display: flex;
    transition: box-shadow 0.1s ease-out;
}

.item-container:hover {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}

.item-image-container {
    width: 70px;
    height: 66px;
    border-radius: 9px;
    border: 1px solid #cccccc;
}

.item-text {
    margin: 0 1px 0 6px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.item-name {
    font-size: 16px;
    font-weight: 600;
}

.item-price, .item-date {
    color:#707070;
    font-size: 16px;
}

.item-bottom {
    font-size: 16px;
    width: 100%;
    align-self: flex-end;
}

.item-open-icon {
    border-radius: 6px;
    border: 1px solid #cccccc;
    text-align: center;
    width: 30px;
    height: 20px;
    line-height: 15px;
    font-weight: 800;
    padding: 0 5px;
    float: right;
    cursor: pointer;
}

.item-delete-icon {
    width: 21px;
    height: 21px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    /*border: 1px solid #ef4923;
    background-color: #ef49231a;
    color: #ef4923;*/
    border: 1px solid #cccccc;
    background-color: #fff;
    color: #707070;
    float: right;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.item-delete-icon:hover {
    color: #000000;
}

.footer {
    margin: auto;
    padding: 25px 5px;
    width: 53.54vw;
    max-width: 1028px;
    border-top: 1px solid #cccccc;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list li, .footer-list li a{
    color: #707070;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
}

#homepage img {
    width: 9.5px;
    height: 9.5px;
    margin-right: 2px;
    cursor: pointer;
}

#homepage a {
    color: #000000;
}

@media only screen and (max-width: 1280px) {
    html {
        font-size: 1vw;
    }

    .header {
        padding-left: 16px;
        padding-right: 16px;;
    }

    .home {
        flex-basis: 20%;
    }

    .logo {
        width: min(30px, 5.127rem);
        height: min(30px, 5.127rem);
    }

    .name-container {
        display: none;
    }

    .navbar-list {
        flex-basis: 80%;
    }

    .navbar-list > li {
        font-size: min(23px, 5rem);
    }

    #user-icon {
        width: min(29px, 5.043rem);
        height: min(29px, 5.043rem);
    }

    .main-container {
        width: 100vw;
        padding: 0 16px;
    }

    .menu-container {
        display: none;
    }

    .content-container {
        grid-column: 1 / 5;
    }

    .page-title {
        font-size: min(36px, 8rem);
    }

    .item-container {
        flex-basis: 49%;
    }

    .item-name, .item-date, .item-bottom * {
        font-size: min(16px, 5rem);
    }

    .footer {
        width: 100vw;
        padding: 25px 16px 16px 16px;
    }
}

@media only screen and (max-width: 425px) {
    .item-container {
        flex-basis: 100%;
    }

    .navbar-list > .selected > a::after {
        width: 0;
        height: 0;
    }
}